/* comentario de css */
/* comunes */
/* .class { 
        @include tamano (50px, auto);

*/
body {
  margin: 0;
  padding: 0%;
}
body #portadaseccion {
  width: 100%;
  height: auto;
}
body h1 {
  font-family: "Mulish", serif;
  text-align: center;
  font-weight: bold;
  font-size: 170%;
  padding-top: 100px;
  padding-bottom: 50px;
}
body h2 {
  font-family: "Mulish", serif;
  text-align: center;
  font-weight: normal;
  font-size: 140%;
}
body h3 {
  font-family: "Mulish", serif;
  font-weight: bold;
}
body p {
  font-family: "Mulish", serif;
  font-weight: normal;
}
body .portadalibro {
  width: 100%;
  height: auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(255, 183, 138);
  font-size: 110%;
  font-family: "Mulish", serif;
}
header .dropdown {
  display: none;
}
header nav ul {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
}
header nav ul a {
  color: white;
  text-decoration: none;
}
header nav ul a:hover {
  color: rgb(254, 90, 134);
  text-decoration: underline;
}

@media (max-width: 500px) {
  header {
    justify-content: left;
  }
  header nav {
    display: none;
  }
  header .dropdown {
    display: block;
  }
  header .dropdown .btn-secondary {
    background-color: rgb(252, 195, 160);
    border-color: rgb(252, 195, 160);
  }
  header .dropdown .dropdown-menu {
    background-color: rgb(252, 195, 160);
  }
  header .dropdown .dropdown-menu .dropdown-item {
    color: white;
  }
  header .dropdown .dropdown-menu a {
    color: white;
    text-decoration: none;
  }
  header .dropdown .dropdown-menu a:hover {
    color: rgb(254, 90, 134);
    text-decoration: underline;
  }
}
/* index */
.mainindex .tituloindex {
  padding: 10%;
}
.mainindex .contenidoindex {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 600px 400px 1000px;
  grid-template-areas: "resenas" "frase" "ofertas";
}
.mainindex .contenidoindex .resenasindex {
  grid-area: resenas;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "libro1 libro2 libro3" "libro1 libro2 libro3" "titulo1 titulo2 titulo3";
  justify-items: center;
  align-items: center;
}
.mainindex .contenidoindex .resenasindex .recuadros {
  margin: 10%;
  border: 1px solid #757975;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
}
.mainindex .contenidoindex .resenasindex .recuadros .portadalibro {
  width: 100%;
  height: auto;
}
.mainindex .contenidoindex .resenasindex .recuadros #portada1 {
  grid-area: libro1;
}
.mainindex .contenidoindex .resenasindex .recuadros #portada2 {
  grid-area: libro2;
}
.mainindex .contenidoindex .resenasindex .recuadros #portada3 {
  grid-area: libro3;
}
.mainindex .contenidoindex .resenasindex .recuadros .titulo1 {
  grid-area: titulo1;
}
.mainindex .contenidoindex .resenasindex .recuadros .titulo2 {
  grid-area: titulo2;
}
.mainindex .contenidoindex .resenasindex .recuadros .titulo3 {
  grid-area: titulo3;
}
.mainindex .contenidoindex .frasedeldia {
  grid-area: frase;
  padding: 15%;
}
.mainindex .contenidoindex .frasedeldia .autor {
  text-align: right;
}
.mainindex .contenidoindex .ofertasindex {
  grid-area: ofertas;
  background-color: #d9e885;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "oferta oferta oferta" "libro4 libro5 libro6" "titulo4 titulo5 titulo6" "precio4 precio5 precio6";
}
.mainindex .contenidoindex .ofertasindex .tituloofertasindex {
  grid-area: oferta;
}
.mainindex .contenidoindex .ofertasindex .recuadros {
  margin: 10%;
  border: 1px solid #757975;
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-color: white;
  text-align: center;
}
.mainindex .contenidoindex .ofertasindex .recuadros .portadalibro {
  width: 100%;
  height: auto;
}
.mainindex .contenidoindex .ofertasindex .recuadros #portada4 {
  grid-area: libro4;
}
.mainindex .contenidoindex .ofertasindex .recuadros #portada5 {
  grid-area: libro5;
}
.mainindex .contenidoindex .ofertasindex .recuadros #portada6 {
  grid-area: libro6;
}
.mainindex .contenidoindex .ofertasindex .recuadros .titulo4 {
  grid-area: titulo4;
}
.mainindex .contenidoindex .ofertasindex .recuadros .titulo5 {
  grid-area: titulo5;
}
.mainindex .contenidoindex .ofertasindex .recuadros .titulo6 {
  grid-area: titulo6;
}
.mainindex .contenidoindex .ofertasindex .recuadros .precio4 {
  grid-area: precio4;
}
.mainindex .contenidoindex .ofertasindex .recuadros .precio5 {
  grid-area: precio5;
}
.mainindex .contenidoindex .ofertasindex .recuadros .precio6 {
  grid-area: precio6;
}

@media (max-width: 500px) {
  .mainindex .contenidoindex {
    grid-template-rows: 1600px 400px 2000px;
  }
  .mainindex .contenidoindex .resenasindex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mainindex .contenidoindex .resenasindex .recuadros {
    width: 40%;
    height: auto;
    padding: 5px;
  }
  .mainindex .contenidoindex .ofertasindex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  .mainindex .contenidoindex .ofertasindex .tituloofertasindex {
    padding: 5px;
  }
  .mainindex .contenidoindex .ofertasindex .recuadros {
    width: 40%;
    height: auto;
    padding: 5px;
  }
}
/*Proposito*/
.todoproposito .propositomain {
  margin: 20px;
}
.todoproposito .propositomain .tituloproposito {
  margin: 70px;
}
.todoproposito .propositomain .propositocontenido {
  text-align: justify;
  margin: 70px;
}
.todoproposito .newsletter {
  background-color: #eae6aa;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 25%;
  margin-right: 25%;
  font-family: "Mulish", serif;
}
.todoproposito .newsletter .formularionewsletter {
  display: flex;
  justify-content: center;
}
.todoproposito .newsletter .btn-success {
  background-color: #eae38d;
  font-family: "Mulish", serif;
  color: black;
  border-color: #eae38d;
  margin: 15px;
}
.todoproposito .newsletter .btn-success:hover {
  background-color: #a8a363;
  border-color: #a8a363;
}

@media (max-width: 500px) {
  .todoproposito .propositomain .propositocontenido {
    margin: 0px;
  }
  .todoproposito .propositomain .propositocontenido p {
    font-size: 15px;
    padding: 5px;
  }
  .todoproposito .newsletter {
    margin-left: 10%;
    margin-right: 10%;
  }
  .todoproposito .newsletter h2 {
    font-size: 15px;
    font-weight: bold;
  }
  .todoproposito .newsletter .formularionewsletter {
    font-size: 10px;
  }
}
/* Resenas */
.resenamain .tituloresena {
  text-align: initial;
  font-size: 100%;
  font-weight: bold;
  background-color: rgb(255, 183, 138);
}
.resenamain .todaslasresenas {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "libro1 libro2 libro3" "libro4 libro5 libro6" "libro7 libro8 libro9" "libro10 libro11 libro12";
}
.resenamain .todaslasresenas .tituloresenas {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.resenamain .todaslasresenas .cuento1, .resenamain .todaslasresenas .cuento12, .resenamain .todaslasresenas .cuento11, .resenamain .todaslasresenas .cuento10, .resenamain .todaslasresenas .cuento9, .resenamain .todaslasresenas .cuento8, .resenamain .todaslasresenas .cuento7, .resenamain .todaslasresenas .cuento6, .resenamain .todaslasresenas .cuento5, .resenamain .todaslasresenas .cuento4, .resenamain .todaslasresenas .cuento3, .resenamain .todaslasresenas .cuento2 {
  grid-area: libro1;
  border: 1px solid #757975;
  background-color: rgb(255, 183, 138);
  margin: 15px;
}
.resenamain .todaslasresenas .cuento2 {
  grid-area: libro2;
}
.resenamain .todaslasresenas .cuento3 {
  grid-area: libro3;
}
.resenamain .todaslasresenas .cuento4 {
  grid-area: libro4;
}
.resenamain .todaslasresenas .cuento5 {
  grid-area: libro5;
}
.resenamain .todaslasresenas .cuento6 {
  grid-area: libro6;
}
.resenamain .todaslasresenas .cuento7 {
  grid-area: libro7;
}
.resenamain .todaslasresenas .cuento8 {
  grid-area: libro8;
}
.resenamain .todaslasresenas .cuento9 {
  grid-area: libro9;
}
.resenamain .todaslasresenas .cuento10 {
  grid-area: libro10;
}
.resenamain .todaslasresenas .cuento11 {
  grid-area: libro11;
}
.resenamain .todaslasresenas .cuento12 {
  grid-area: libro12;
}

@media (max-width: 500px) {
  .resenamain .tituloresenas {
    font-size: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .resenamain .todaslasresenas {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "libro1" "libro2" "libro3" "libro4" "libro5" "libro6" "libro7" "libro8" "libro9" "libro10" "libro11" "libro12";
  }
}
/* tienda */
.tiendamain .fraseofertas {
  padding-top: 100px;
}
.tiendamain .contenidoofertas {
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 580px 150px 580px 150px 580px;
  grid-template-areas: "genero1 genero1 genero1 genero1" "libro1 libro2 libro3 libro4" "genero2 genero2 genero2 genero2" "libro5 libro6 libro7 libro8" "genero3 genero3 genero3 genero3" "libro9 libro10 libro11 libro12";
}
.tiendamain .contenidoofertas .generolibro {
  text-align: left;
}
.tiendamain .contenidoofertas #genero1, .tiendamain .contenidoofertas #genero3, .tiendamain .contenidoofertas #genero2 {
  grid-area: genero1;
  margin-top: 100px;
  margin-bottom: 100px;
}
.tiendamain .contenidoofertas #genero2 {
  grid-area: genero2;
}
.tiendamain .contenidoofertas #genero3 {
  grid-area: genero3;
}
.tiendamain .contenidoofertas .literatura1, .tiendamain .contenidoofertas .literatura12, .tiendamain .contenidoofertas .literatura11, .tiendamain .contenidoofertas .literatura10, .tiendamain .contenidoofertas .literatura9, .tiendamain .contenidoofertas .literatura8, .tiendamain .contenidoofertas .literatura7, .tiendamain .contenidoofertas .literatura6, .tiendamain .contenidoofertas .literatura5, .tiendamain .contenidoofertas .literatura4, .tiendamain .contenidoofertas .literatura3, .tiendamain .contenidoofertas .literatura2 {
  grid-area: libro1;
  margin: 15px;
  border: 1px solid #757975;
  background-color: #65c1be;
}
.tiendamain .contenidoofertas .literatura2 {
  grid-area: libro2;
}
.tiendamain .contenidoofertas .literatura3 {
  grid-area: libro3;
}
.tiendamain .contenidoofertas .literatura4 {
  grid-area: libro4;
}
.tiendamain .contenidoofertas .literatura5 {
  grid-area: libro5;
}
.tiendamain .contenidoofertas .literatura6 {
  grid-area: libro6;
}
.tiendamain .contenidoofertas .literatura7 {
  grid-area: libro7;
}
.tiendamain .contenidoofertas .literatura8 {
  grid-area: libro8;
}
.tiendamain .contenidoofertas .literatura9 {
  grid-area: libro9;
}
.tiendamain .contenidoofertas .literatura10 {
  grid-area: libro10;
}
.tiendamain .contenidoofertas .literatura11 {
  grid-area: libro11;
}
.tiendamain .contenidoofertas .literatura12 {
  grid-area: libro12;
}

@media (max-width: 500px) {
  .tiendamain .fraseofertas {
    font-size: 150%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .tiendamain .contenidoofertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: none;
  }
  .tiendamain .contenidoofertas .generolibro {
    text-align: center;
    background-color: #65c1be;
    font-weight: bold;
  }
  .tiendamain .contenidoofertas #genero1, .tiendamain .contenidoofertas #genero2, .tiendamain .contenidoofertas #genero3 {
    margin-top: none;
  }
}
/* A leer */
.aleermain .tituloaleer {
  padding-top: 100px;
  padding-bottom: 50px;
}
.aleermain .aleercontenido {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 300px 200px 350px;
  grid-template-areas: "consejo1 consejo1 imagen1" "consejo2 consejo2 consejo2" "imagen2 consejo3 consejo3";
  padding: 5%;
  text-align: justify;
  align-items: center;
  justify-items: center;
}
.aleermain .aleercontenido .imagenilustrativa {
  width: 70%;
  height: auto;
}
.aleermain .aleercontenido .aleercontenido img {
  width: 100%;
  height: auto;
}
.aleermain .aleercontenido .consejo1 {
  grid-area: consejo1;
  padding-right: 5%;
}
.aleermain .aleercontenido .consejo2 {
  grid-area: consejo2;
}
.aleermain .aleercontenido .consejo3 {
  grid-area: consejo3;
  padding-left: 5%;
}
.aleermain .aleercontenido #imagen1 {
  grid-area: imagen1;
}
.aleermain .aleercontenido #imagen2 {
  grid-area: imagen2;
}

@media (max-width: 500px) {
  .aleermain .tituloaleer {
    font-size: 50%;
    text-align: center;
  }
  .aleermain .aleercontenido {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 200px 140px 200px 250px;
    grid-template-areas: "consejo1" "imagen1" "consejo2" "imagen2" "consejo3";
    font-size: 60%;
    padding: 10%;
    justify-content: center;
    align-content: center;
  }
  .aleermain .aleercontenido .consejo1 {
    padding-right: 0;
  }
  .aleermain .aleercontenido .consejo3 {
    padding-left: 0;
  }
  .aleermain .aleercontenido .imagenilustrativa {
    width: 200px;
    height: auto;
  }
}
/* Contacto */
.maincontacto .titulocontacto {
  padding-top: 100px;
  padding-bottom: 50px;
}
.maincontacto .contenidocontacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "formulario mapa";
  justify-content: center;
  align-items: center;
}
.maincontacto .contenidocontacto .formulario {
  background-color: #65c1be;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  margin-bottom: 150px;
  padding-bottom: 50px;
  padding-top: 50px;
  grid-area: formulario;
}
.maincontacto .contenidocontacto .formulario .mb-3 {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Mulish", serif;
}
.maincontacto .contenidocontacto .formulario .btn-primary {
  font-family: "Mulish", serif;
  background-color: #56a2a0;
  color: black;
  border-color: #56a2a0;
}
.maincontacto .contenidocontacto .formulario .btn-primary:hover {
  background-color: #428987;
  border-color: #428987;
}
.maincontacto .contenidocontacto .mapacontenido {
  grid-area: mapa;
  margin: 0;
  padding: 0%;
  font-size: 15px;
}
.maincontacto .contenidocontacto .mapacontenido .mapa {
  width: 75%;
  height: auto;
}

@media (max-width: 500px) {
  .maincontacto .contenidocontacto {
    grid-template-columns: 1fr;
    grid-template-areas: "formulario" "mapa";
  }
  .maincontacto .contenidocontacto .mapacontenido {
    padding: 15%;
    text-align: center;
  }
  .maincontacto .contenidocontacto .mapacontenido .mapa {
    width: 90%;
    height: auto;
  }
}
/* Footer */
footer {
  background-color: rgb(255, 183, 138);
  font-family: "Mulish", serif;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: "Mulish", serif;
}

@media (max-width: 500px) {
  footer {
    flex-direction: column;
    font-size: 50%;
    justify-items: center;
    align-items: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
