/* Footer */

footer{
    background-color: rgb(255, 183, 138);
    font-family: "Mulish", serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: "Mulish", serif;
}