/* Footer */

footer{
    background-color: $rosado;
    font-family: $font;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: $font;
}