/* comunes */

$font: "Mulish", serif;
$rosado: rgb(255, 183, 138);
$celeste: #65c1be;
$bordes: #757975;

@mixin tamano ($ancho,$alto){
    width: $ancho;
    height: $alto;
}

/* .class { 
        @include tamano (50px, auto);

*/

body{
    margin: 0;
    padding: 0%;

    .portadaseccion{
        @include tamano(100%, auto)
    }

    h1{
        font-family: $font;
        text-align: center;
        font-weight: bold;
        font-size: 170%;
    }
    
    h2{
        font-family: $font;
        text-align: center;
        font-weight: normal;
        font-size: 140%;
    }
    
    h3{
        font-family: $font;
        font-weight: bold;
    }
    
    p{
        font-family: $font;
        font-weight: normal;
    }

    .portadalibro{
        @include tamano(100%, auto)
    }

}
