/* Header */

$rosado: rgb(255, 183, 138);
$font:"Mulish", serif;


header{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 1rem;
    background-color: $rosado;
    font-size: 110%;
    font-family: $font;



    nav{
        ul{
            display: flex;
            column-gap: 30px;
            list-style-type: none;

            a{
                color: white;
                text-decoration: none;
            }

            a:hover{
                color: rgb(254, 90, 134);
                text-decoration: underline;
            }
        }

    }
}

@media(max-width:500px){
    header{
        justify-content: center;
        align-content: center;
        padding: 0;

        nav ul{
            flex-direction: row;
            width: 1%;
            font-size: 50%;
        }
    }
}
