
/* Resenas */

.resenamain{
    .tituloresena{
        text-align: initial;
        font-size: 100%;
        font-weight: bold;
        background-color: rgb(255, 183, 138);
    }

    .todaslasresenas{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "libro1 libro2 libro3"
        "libro4 libro5 libro6"
        "libro7 libro8 libro9"
        "libro10 libro11 libro12";

        .tituloresenas{
            padding-top: 100px;
            padding-bottom: 50px ;
            text-align: center;
        }

        .cuento1{
            grid-area: libro1;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento2{
            grid-area: libro2;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento3{
            grid-area: libro3;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento4{
            grid-area: libro4;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento5{
            grid-area: libro5;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento6{
            grid-area: libro6;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento7{
            grid-area: libro7;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento8{
            grid-area: libro8;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento9{
            grid-area: libro9;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento10{
            grid-area: libro10;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento11{
            grid-area: libro11;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
        
        .cuento12{
            grid-area: libro12;
            border: 1px solid #757975;
            background-color: rgb(255, 183, 138);
            margin: 15px;
        }
    }
}