/* tienda */

.tiendamain{

    .fraseofertas{
        padding-top: 100px;
    }

    .contenidoofertas{
        margin: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px 580px 150px 580px 150px 580px;
        grid-template-areas: 
        "genero1 genero1 genero1 genero1"
        "libro1 libro2 libro3 libro4"
        "genero2 genero2 genero2 genero2"
        "libro5 libro6 libro7 libro8"
        "genero3 genero3 genero3 genero3"
        "libro9 libro10 libro11 libro12";

        .generolibro{
            text-align: left;
        }

        #genero1{
            grid-area: genero1;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        
        #genero2{
            grid-area: genero2;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        
        #genero3{
            grid-area: genero3;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        
        .literatura1{
            grid-area: libro1;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura2{
            grid-area: libro2;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura3{
            grid-area: libro3;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura4{
            grid-area: libro4;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura5{
            grid-area: libro5;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura6{
            grid-area: libro6;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura7{
            grid-area: libro7;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura8{
            grid-area: libro8;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura9{
            grid-area: libro9;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura10{
            grid-area: libro10;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura11{
            grid-area: libro11;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
        
        .literatura12{
            grid-area: libro12;
            margin:15px;
            border: 1px solid #757975;
            background-color: #65c1be;
        }
    
    }
}